

*:focus {
    outline: 0;
}

.bc_title{	position: relative;	font-size: 20px;	color: #000000;	margin-top: 10px;	margin-bottom: 5px;	font-family: 'open_sansbold';	text-transform: uppercase;}.bc_message_container{	position: fixed;	width: 100%;	top: 0px;	left: 0px;
	z-index: 99999;}	.bc_message	{		position: relative;		line-height: 0px;		width: 100%;		text-align: center;		font-family: 'open_sansregular';		font-size: 15px;		color: #000000;
		cursor: pointer;
		font-weight: bold;
		border-radius: 15px;	}			.bc_message_error		{			background-color: #d85b5b;		}				.bc_message_success		{			background-color: #a5e591;		}.bc_table_actions{	position: relative;	background-color: #ddd;	margin-top: 5px;	margin-bottom: 5px;	line-height: 25px;
	width: 100%;}	.bc_table_actions a	{		text-decoration: none;		color: inherit;	}	.bc_table_action	{		position: relative;		cursor: pointer;		margin-left: 10px;		margin-right: 10px;		font-family: 'open_sansregular';		font-size: 13px;	}		.bc_table_action_icon		{			position: relative;			vertical-align: sub;			max-width: 16px;			max-height: 16px;		}.bc_table{	position: relative;	margin-top: 5px;	margin-bottom: 5px;	border-collapse: separate;	border-width: 0px;	font-size: 12px;	border-bottom: solid 1px #ddd;	border-right: solid 1px #ddd;
	width: 100%;}	.bc_erow	{		background-color: #f7f7f7;		border-bottom: solid 1px #f7f7f7;	}	.bc_table th	{		background: url('../img/thbg.gif') repeat-x bottom #fafafa;		line-height: 25px;		vertical-align: bottom;		font-size: 13px;		padding-left: 4px;		text-align: left;		font-family: 'open_sansregular';	}
	
		.bc_table_sort_desc
		{
			background: url('../img/arrow_down.png') no-repeat right center,
					    url('../img/thbg.gif') repeat-x bottom #fafafa !important; 
		}
		
		.bc_table_sort_asc
		{
			background: url('../img/arrow_up.png') no-repeat right center,
					    url('../img/thbg.gif') repeat-x bottom #fafafa !important; 
		}		.bc_table td	{		border-left: solid 1px #ddd;		border-right: solid 1px #fff;		padding: 4px;		font-family: 'open_sansregular';		font-size: 12px;
		vertical-align: middle;	}
	
		.bc_m_n_element
		{
			position: relative;
			padding: 2px 6px;
			border-radius: 7px;
			background-color: #ddd;
			color: #000000;
			margin-right: 4px;
			display: inline-table;
			margin-bottom: 2px;
		}	
	.bc_row_actions_container a
	{
		text-decoration: none;
	}	
	
	.bc_row_action_container
	{
		position: relative;
		float: left;
		width: 20px;
		height: 20px;
	}
				.bc_row_action		{
			position: relative;
			height: 16px;
			width: 16px;
			margin: 2px;
			cursor: pointer;
		}
		

		.bc_delete_dialog{	position: fixed;	z-index: 20000;	overflow: hidden;	top: 35%;	border: solid 2px #ddd;	border-radius: 15px;	background-color: #f7f7f7;		width: 500px;	margin-left: -250px;	left: 50%;	height: 80px;		font-size: 20px;	font-family: 'open_sansregular';	text-align: center;	padding: 20px 0px;	display: none;}	.bc_delete_button	{		position: absolute;		width: 180px;		top: 65px;		line-height: 35px;		background-color: #ffffff;		font-size: 16px;		text-align: center;		border-radius: 10px;		cursor: pointer;	}			.bc_delete_button:hover		{			border: solid 1px #ddd;		}	.bc_delete_ok	{		left: 50px;	}		.bc_delete_cancel	{		left: 270px;	}.bc_fade{	position: fixed;	width: 100%;	height: 100%;	top: 0px;	left: 0px;	z-index: 19999;	display: none;	background-color: rgba(247,247,247,0.4);}
.bc_edit_table{	position: relative;	border: solid 1px #ddd;	border-radius: 15px;	overflow: hidden;	font-family: 'open_sansregular';}	.bc_edit_table .erow	{		background-color: #f7f7f7;	}	.bc_column	{		border-bottom: solid 1px #ddd;		padding: 15px;	}
	
	.bc_column_header	{		margin-top: 0px;		font-size: 14px;		font-weight: bold;		margin-bottom: 5px;	}		.bc_column_info	{		margin-top: -2px;		margin-bottom: 5px;		font-size: 12px;
		text-style: italic;	}			.bc_column:last-child	{		border-bottom: 0px;	}		.bc_column_input input[type="text"]	{		width: 100%;		font-size: 14px;		border: solid 2px #ddd;	}		.bc_column_input select	{		min-width: 50%;		border: solid 2px #ddd;	}		.bc_col_image input[type="button"]	{		background-color: #ffffff;		border:	solid 2px #ddd;		padding: 4px;		cursor: pointer;	}
	
	.bc_col_image a
	{
		text-decoration: none;
	}		.bc_col_image input[type="file"]	{		display: none;	}	.bc_col_image_preview	{		max-width: 300px;		max-height: 150px;		display: none;		border:	solid 2px #ddd;	}		.bc_col_image_delete	{		display: none;		cursor: pointer;		vertical-align: top;		font-size: 14px;		margin-left: 5px;		text-decoration: underline;		color: red;	}
	
	.bc_td_image
	{
		text-align: center;
	}
	
	.table_image_preview
	{
		border: solid 2px #ddd;
		max-width: 200px;
		max-height: 100px;
		vertical-align: middle;
	}
	
	.bc_td_image_gallery
	{
		position: relative;
		max-height: 100px;
		max-width: 250px;
		word-wrap: break-word;
	}
	
		.bc_image_gallery_container
		{
			position: relative;
			width: 100%;
			overflow-y: hidden;
			overflow-x: auto;
		}
		
			.bc_table_image_gallery_preview
			{
				border: solid 2px #ddd;
				max-width: 70px;
				max-height: 70px;
				float: left;
				margin-right: 5px;
			}		.bc_hiddencolumn	{		display: none;	}		.bc_col_multiline textarea	{		border: solid 2px #ddd;		width: 100%;		font-size: 14px;		resize: none;		height: 40px;	}		.bc_col_multiline_formatting	{		position: relative;		overflow: hidden;		margin-bottom: 4px;	}			.bc_col_multiline_formatting_button		{			position: relative;			float: left;			width: 20px;			line-height: 20px;			text-align: center;			border: solid 1px #ddd;			margin-right: 5px;			cursor: pointer;		}				.bc_col_multiline_formatting_button:hover		{			background-color: #f7f7f7;		}
		
	.bc_col_m_n
	{
		position: relative;
		overflow: hidden;
	}
	
		.bc_m_n_element_edit
		{
			float: left;
			font-size: 13px;
			cursor: pointer;
			margin: 4px;	
			overflow: hidden;		
		}
	
		.bc_m_n_selected, .bc_m_n_avail
		{
			position: relative;
			float: left;
			border: solid 1px #ddd;
			padding: 5px;
			height: 100px;
			width: 200px;
			overflow-y: auto;
			border-radius: 10px;
		}
		
		.bc_m_n_selected
		{
			margin-right: 20px;
		}
		
		.bc_m_n_filterbox
		{
			position: relative;
			height: 20px;
			width: 100%;
			margin: 4px 4px;
		}
		
			.bc_m_n_filterbox input[type="text"]
			{
				position: relative;
				padding: 1px 3px;
				width: 100%;
			}
		
	.bc_list_url
	{
		color: #000000;
	}

	
	.bc_col_date img
	{
		width: 16px;
	}
	
	
	.bc_col_combobox
	{
		overflow: hidden;
	}
	
		.bc_col_combobox .custom-combobox-input
		{
			border: solid 2px #cecece;
			background: #ffffff;
			float: left;
			font-size: 14px;
		}
	
		.bc_col_combobox a
		{
			float: left;
		}
		
		.bc_col_combobox .ui-button-icon-primary
		{
			float: left;
		}
		
		.bc_col_combobox .ui-button-text
		{
			float: left;
		}
		
		.bc_col_combobox .ui-icon-triangle-1-s
		{
			background-image: none;
			width: 21px;
			height: 21px;
			background-color: #cecece;
		}
		
		.ui-autocomplete
		{
			border: solid 2px #cecece;
			background: #ffffff;
		}
		
			.ui-autocomplete li
			{
				border-bottom: solid 1px #000000;
				font-size: 14px;
			}
			
			.ui-autocomplete .ui-state-focus
			{
				border: none;
				border-bottom: solid 1px #000000;
				background: none;
				font-weight: bold;
				cursor: pointer;
			}
			
	.bc_col_colorpicker_list
	{
		position: relative;
		width: 40px;
		height: 40px;
		border: solid 2px #ddd; 
		margin: auto;
	}		
			
			.bc_column_actions{	position: relative;	width: 100%;	color: #000000;	line-height: 40px;	font-size: 18px;	overflow: hidden;	margin-top: 20px;	margin-bottom: 20px;	font-family: 'open_sansregular';}	.bc_column_actions ul	{		margin: 0px;		padding: 0px;		list-style-type: none;	}		.bc_column_actions li	{		float: left;		margin-left: 5px;		margin-right: 5px;		border: solid 2px #ddd;		border-radius: 5px;		padding-left: 4px;		padding-right: 4px;		cursor: pointer;	}		.bc_column_actions li:first-child	{		margin-left: 0px;	}		.bc_column_actions li:hover	{		background-color: #f7f7f7;	}
	
	
		.bc_error_text
	{
		margin-top: 3px;
		color: #fe6e2f;
		font-size: 12px;
		font-weight: bold;
	}
	
		.bc_error_highlight
		{
			background-color: #fe6e2f !important;
		}
		
		
.bc_paging_and_filtering
{
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 5px 0px;
	height: 21px;
	padding: 2px 0px;
	background-color: #ddd;
}

	.bc_paging
	{
		position: relative;
		float: right;
		overflow: hidden;
		margin-right: 10px;
	}

		.bc_paging_button
		{
			position: relative;
			float: right;
			margin: 1px 3px;	
			width: 19px;
			height: 19px;
			background-size: 19px 19px;
			cursor: pointer;
		}
		
				.bc_paging_first
			{
				background-image: url('../img/first.png');
			}
			
			.bc_paging_last
			{
				background-image: url('../img/last.png');
			}
			.bc_paging_next
			{
				background-image: url('../img/next.png');
			}
			.bc_paging_prev
			{
				background-image: url('../img/previous.png');
			}
			
		.bc_paging_sites
		{
			position: relative;
			float: right;
			overflow: hidden;
			margin: 0px 6px;
		}	
		
			.bc_paging_page
			{
				position: relative;
				float: left;
				padding: 0px 2px;
				cursor: pointer;
			}
			
			.bc_current_page
			{
				text-decoration: underline;
				font-weight: bold;
			}
		
	.bc_filtering
	{
		position: relative;
		float: left;
		margin-left: 10px;
	}		
	
		.bc_filter_header
		{
			margin: 0px;
			padding: 0px;
			margin-right: 5px;
			float: left;
			line-height: 21px;

		}
		
		.bc_filter
		{
			position: relative;
			float: left;
			margin-right: 10px;
			height: 21px;
		}
		
			.bc_filter select
			{
				position: relative;
				height: 21px;
				border: 0px;
				top: -1px;
			}
			
			.bc_filter input
			{
				position: relative;
				height: 21px;
				border: 0px;
				width: 150px;
				padding: 0px 3px;
				top: -1px;
			}
			
		.bc_filter_search
		{
			position: relative;
			float: left;
			height: 21px;
			width: 21px;
			background-image: url('../img/search.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 20px 20px;
			cursor: pointer;	
			margin-right: 10px;
		}	
			
		.bc_filter_reset
		{
			position: relative;
			float: left;
			height: 21px;
			width: 22px;
			background-image: url('../img/reset.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 20px 19px;
			cursor: pointer;
		}

.bc_ordering_container
{
	position: relative;
	margin-bottom: 15px;
	padding: 5px;
	border: solid 2px #cecece;
	display: inline-block;
}

	.bc_ordering_item
	{
		position: relative;
		text-align: center;
		border: solid 2px #cecece;
		font-size: 15px;
		margin-bottom: 2px;
		max-width: 500px;
		padding: 5px 15px;
		cursor: pointer;
	}
	
		.bc_ordering_item img
		{
			max-width: 300px;
			max-height: 100px;
		}
	
	.bc_ordering_item:last-child
	{
		margin-bottom: 0px;
	}
	
	.bc_ordering_noitems
	{
		position: relative;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 15px;
	}
	
	.bc_ordering_info
	{
		position: relative;
		font-size: 14px;
		font-style: italic;
		margin-bottom: 15px;
		margin-top: 15px;
		color: #000000;
	}
	
#bc_upload_crop_fade
{
	position: fixed;
	z-index: 9000;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.8);
}

#bc_upload_crop
{
	position: fixed;
	z-index: 9100;
	background-color: #ffffff;
	padding: 30px;
}

	#bc_upload_crop_img
	{
		position: relative;
		width: 0px;
		height: 0px;
		border: solid 2px #000000;
		width: 500px;
		height: 500px;
	}
	
	#bc_upload_crop_btn
	{
		position: relative;
		margin: 10px auto 0px auto;
		width: 60%;
		line-height: 20px;
		border: solid 2px #000000;
		cursor: pointer;
		font-size: 15px;
		text-align: center;
	}	