img
{
	border: 0px;
}
a
{
	text-decoration:underline;
	color:inherit;
	border:0;
}


body
{
	-webkit-text-size-adjust: 100%;
	font-family: 'dosisregular';
	margin: 0px;
	padding: 0px;
	width:100%;
	height:100%;
	font-size:15px;
	background:#000000;
	color:#ffffff;
	
}

::-webkit-input-placeholder {
   color: #000000;
   
}

:-moz-placeholder { /* Firefox 18- */
   color: #000000;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #000000; 
}

:-ms-input-placeholder {  
   color: #000000;  
}

::-webkit-input {
 
   border:0px;
}


input
{
	border-radius:0px;
}



.regular{font-family: 'apercuregular';}
.italic{font-family: 'apercuitalic';}

#container
{
	width:100%;
	height:100%;
	position:relative;
	top:0px;
	left:0px;
	z-index:0;
	
}

#wrapper
{
	position: relative;
	min-height: 800px;
}


#content
{
	position:relative;
	width:700px;
	margin:60px auto;
	text-align:center;
	overflow:hidden;

}

.logo
{
	width:200px;
}

#email
{
	border:0px;
	padding:0px 10px;
	height:40px;
	width:530px;
	float:left;
	line-height:35px;
	color:#000000;
	font-size:18px;
	margin-top:40px;
}

.edit_input
{
	border:0px;
	padding:0px 10px;
	height:40px;
	width:680px;
	float:left;
	line-height:35px;
	color:#000000;
	font-size:18px;
	margin-top:20px;
}


.button
{
	width:130px;
	height:40px;
	line-height:37px;
	color:#000000;
	text-align:center;
	background:#ffffff;
	font-size:18px;
	border:0px;
	cursor:pointer;
	margin-top:40px;
	float:right;
}



#forgot
{
	margin-top: 20px;
}

	#forgot input[type="password"]
	{
		border: 0px;
		margin: 10px 0px;
		width: 700px;
		line-height: 40px;
		padding: 0px 10px;
		font-size: 18px;
	}
	
	#forgot input[type="submit"]
	{
		border: 0px;
		margin: 20px 0px;
		width: 180px;
		line-height: 25px;
		font-size: 18px;
		float: right;
	}
	
#content p
{
	position: relative;
	width: 700px;
	font-size: 15px;
	text-align: left;
	margin-top: 30px;
	font-family: 'apercuregular';
}	